.header {
    height: 100vh;
    position: relative;
    background-image: url(../img/uber.png);
    background-attachment: fixed;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-size: cover;
    background-position: center;
    
    &__text-box {
        grid-row: 2 / 3;
        position: absolute;
        padding: 0 10rem;
        display: block;
        margin-top: 8rem;
    }

    &__form {
        grid-row: 3 / -1;
        margin-left: 10rem;
        margin-top: 5rem;
        display: flex;
    }

    &__find {
        padding: 2.5rem 2rem;
        border-radius: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-grey-light-1;
        line-height: 2rem;
        background-color: $color-black;
        transition: .5s;
        cursor: pointer;
        height: 4rem;
        width: fit-content;
        text-align: center;
        border: none;
        align-items: center;
        display: inline-flex;
        justify-content: flex-start;

        &:hover {
            background-color: rgba($color-black, .5);
        }
    }
}

.heading-main {
    font-size: 2.5rem;
    font-weight: 500;
     
    &::after{
        display: none;
    }

    @media only screen and (max-width: 75em) {
        font-size: 3rem;
    }
}

.heading-sub {
    font-size: 1.5rem;
    font-family: $font-display;
    margin-top: 2.5rem;
    margin-left: 1rem;

    @media only screen and (max-width: 75em) {
        font-size: 2.5rem;
    }
}