.places {
    margin: 5rem;
    margin-top: 8rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    @media only screen and (max-width: 37.5em) {
        margin-top: 10rem;
    }

    &__head {
        grid-row: 1 / 2;
        height: fit-content;
    }

    &__box {
        grid-row: 2 / -1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: -8rem;
        justify-items: center;
        grid-row-gap: 2rem;

        @media only screen and (max-width: 50em) {
            grid-template-columns: repeat(3,1fr);   
        }

        @media only screen and (max-width: 37.5em) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: -18rem;
        }
    }

    & img {
        width: 20rem;
        border-radius: 5rem 5rem 5rem 5rem;
        height: 15rem;
        transition: all .5s;

        &:hover {
            transform: scale(1);
            filter: blur(2px) brightness(80%);
        }
    }

    &__caption {
        position: absolute;
        margin-top: 2rem;
        margin-left: 6rem;
        color: $color-grey-light-1;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &__item--2,
    &__item--5 {

        @media only screen and (max-width: 50em) {
            display: none;   
        }        
    }
}

.places img:hover + .places__caption {
    opacity: 1;
    margin-top: -10rem;
}